In [6]:
import pandas as pd
import sqlite3

In [7]:
# creating data

In [8]:
conn = sqlite3.connect('mydb.db') # connect to database or create a database if not available
cur = conn.cursor() # connection to cursor to query data and execute the data, insert data

In [10]:
cur.execute("""
CREATE TABLE IF NOT EXISTS people (
  ssn INTEGER PRIMARY KEY,
  name VARCHAR(255) NOT NULL,
  age INTEGER
)
""") # Simple table with ssn as primary, name and age

In [11]:
# adding values to database
cur.execute("""
INSERT INTO people (ssn, name, age) VALUES
(1, 'mike', 25),
(24, 'bob0', 6995),
(45, 'loks', 6624),
(456, 'luke', 788),
(4222, 'thomas', 8),
(248, 'jerry', 2666)
""")

conn.commit() # so that the above values get written to database

In [13]:
cur.execute("SELECT * FROM people")

In [14]:
# Fetch all the results
rows = cur.fetchall()

# Print the results
for row in rows:
    print(row)

(1, 'mike', 25)
(24, 'bob0', 6995)
(45, 'loks', 6624)
(248, 'jerry', 2666)
(456, 'luke', 788)
(4222, 'thomas', 8)

In [15]:
sql = pd.read_sql_query('SELECT * FROM people', conn)
df = pd.DataFrame(sql, columns = ['ssn', 'name', 'age'])
df

    ssn    name   age
0     1    mike    25
1    24    bob0  6995
2    45    loks  6624
3   248   jerry  2666
4   456    luke   788
5  4222  thomas     8

In [ ]:
### now lets do reverse

In [17]:
new_df = pd.DataFrame({
    'ssn': [12, 25,54],
    'name':['tom', 'cid', 'gertt'],
    'age': [13,55,88]
})

new_df.to_sql('people', con = conn, if_exists = 'append', index = False)

3

In [19]:
cur.execute("SELECT * FROM people")
# Fetch all the results
rows = cur.fetchall()

# Print the results
for row in rows:
    print(row)

(1, 'mike', 25)
(12, 'tom', 13)
(24, 'bob0', 6995)
(25, 'cid', 55)
(45, 'loks', 6624)
(54, 'gertt', 88)
(248, 'jerry', 2666)
(456, 'luke', 788)
(4222, 'thomas', 8)

In [ ]:
# as we can see it is sorted by ssn as index