Sqlalchemy  -> turns python objects into database entries for maipulation, object relational mapper -> translate python classes to python related objects to database tables and database entries and when work with create a new python object we delete it we change it, the respective action will be translated into a database action without us having to write any sql code.


for example create table, insert into, select from -> eveeything will be done automatically by sqlalchemy -> so that we can focus on python object and python code

In [55]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [56]:
from sqlalchemy import create_engine, ForeignKey, Column, String, Integer, CHAR # database and data types fir the columns, engine we can connect to sql, sql lite, mysql etc
from sqlalchemy.ext.declarative import declarative_base # base class that we are going to extend , or inherit from for our person/object
from sqlalchemy.orm import sessionmaker # object relational mapping make session and do stuff in database

In [57]:
Base = declarative_base() # base for our classes

<ipython-input-57-2ed5fe827cbd>:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base() # base for our classes

In [58]:
class Person(Base):
    __tablename__ = 'people'

    ssn = Column('ssn', Integer, primary_key=True)
    firstname = Column('firstname', String)
    lastname = Column('lastname', String)
    gender = Column('gender', CHAR)
    age = Column('age', Integer)

    def __init__(self, ssn, first, last, gender, age):
        self.ssn = ssn
        self.firstname = first
        self.lastname = last
        self.gender = gender
        self.age = age

    def __repr__(self):
        return f'({self.ssn}) {self.firstname} {self.lastname} ({self.gender} {self.age})'

In [59]:
class Thing(Base):
  __tablename__ = 'things'

  tid = Column('tid', Integer, primary_key = True)
  description = Column('description', String)
  owner = Column(Integer, ForeignKey('people.ssn'))

  def __init__(self, tid, description, owner):
    self.tid = tid
    self.description = description
    self.owner = owner

  def __repr__(self):
    return f'({self.tid}) {self.description} owned by {self.owner}'

In [60]:
engine = create_engine('sqlite:///mydb.db', echo = True)
Base.metadata.create_all(bind=engine)

2024-04-09 11:07:22,765 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-09 11:07:22,771 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("people")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("people")

2024-04-09 11:07:22,775 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-09 11:07:22,779 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("people")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("people")

2024-04-09 11:07:22,782 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-09 11:07:22,785 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("things")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("things")

2024-04-09 11:07:22,788 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-09 11:07:22,791 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("things")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("things")

2024-04-09 11:07:22,793 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-04-09 11:07:22,797 INFO sqlalchemy.engine.Engine
CREATE TABLE people (
	ssn INTEGER NOT NULL,
	firstname VARCHAR,
	lastname VARCHAR,
	gender CHAR,
	age INTEGER,
	PRIMARY KEY (ssn)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE people (
	ssn INTEGER NOT NULL,
	firstname VARCHAR,
	lastname VARCHAR,
	gender CHAR,
	age INTEGER,
	PRIMARY KEY (ssn)
)

2024-04-09 11:07:22,800 INFO sqlalchemy.engine.Engine [no key 0.00277s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00277s] ()

2024-04-09 11:07:22,818 INFO sqlalchemy.engine.Engine
CREATE TABLE things (
	tid INTEGER NOT NULL,
	description VARCHAR,
	owner INTEGER,
	PRIMARY KEY (tid),
	FOREIGN KEY(owner) REFERENCES people (ssn)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE things (
	tid INTEGER NOT NULL,
	description VARCHAR,
	owner INTEGER,
	PRIMARY KEY (tid),
	FOREIGN KEY(owner) REFERENCES people (ssn)
)

2024-04-09 11:07:22,821 INFO sqlalchemy.engine.Engine [no key 0.00293s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00293s] ()

2024-04-09 11:07:22,835 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [61]:
Session = sessionmaker(bind = engine) # class
session = Session() #instance ~ construtor of the class

In [62]:
person = Person(12313, 'Mike', 'Smith', 'm', 35)
session.add(person)
session.commit()

2024-04-09 11:07:22,872 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-09 11:07:22,878 INFO sqlalchemy.engine.Engine INSERT INTO people (ssn, firstname, lastname, gender, age) VALUES (?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO people (ssn, firstname, lastname, gender, age) VALUES (?, ?, ?, ?, ?)

2024-04-09 11:07:22,882 INFO sqlalchemy.engine.Engine [generated in 0.00409s] (12313, 'Mike', 'Smith', 'm', 35)

INFO:sqlalchemy.engine.Engine:[generated in 0.00409s] (12313, 'Mike', 'Smith', 'm', 35)

2024-04-09 11:07:22,886 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [63]:
# Creating unique SSN values for each Person object
p1 = Person(23439, 'anna', 'blue', 'f', 40)
p2 = Person(23430, 'bob', 'blue', 'm', 41)
p3 = Person(23485, 'tom', 'jerry', 'm', 30)
p4 = Person(23995, 'mike', 'tyson', 'm', 60)
p5 = Person(23412, 'snig', 'rach', 'f', 25)

In [64]:
# creating another table that has reference to people table on ssn owner

t1 = Thing(1, 'car', p1.ssn)
t2 = Thing(2, 'laptop', p1.ssn)
t3 = Thing(3, 'book', p2.ssn)
t4 = Thing(4, 'bike', p4.ssn)
t5 = Thing(15, 'phone', p5.ssn)
t6 = Thing(6, 'pen', p5.ssn)
t7 = Thing(7, 'charger', p5.ssn)
t8 = Thing(8, 'ac', p5.ssn)

In [65]:
session.add(p1)
session.add(p2)
session.add(p3)
session.add(p4)
session.add(p5)

session.add(t1)
session.add(t2)
session.add(t3)
session.add(t4)
session.add(t5)
session.add(t6)
session.add(t7)
session.add(t8)

session.commit()
session.close()

2024-04-09 11:07:22,958 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-09 11:07:22,963 INFO sqlalchemy.engine.Engine INSERT INTO people (ssn, firstname, lastname, gender, age) VALUES (?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO people (ssn, firstname, lastname, gender, age) VALUES (?, ?, ?, ?, ?)

2024-04-09 11:07:22,967 INFO sqlalchemy.engine.Engine [generated in 0.00426s] [(23439, 'anna', 'blue', 'f', 40), (23430, 'bob', 'blue', 'm', 41), (23485, 'tom', 'jerry', 'm', 30), (23995, 'mike', 'tyson', 'm', 60), (23412, 'snig', 'rach', 'f', 25)]

INFO:sqlalchemy.engine.Engine:[generated in 0.00426s] [(23439, 'anna', 'blue', 'f', 40), (23430, 'bob', 'blue', 'm', 41), (23485, 'tom', 'jerry', 'm', 30), (23995, 'mike', 'tyson', 'm', 60), (23412, 'snig', 'rach', 'f', 25)]

2024-04-09 11:07:22,974 INFO sqlalchemy.engine.Engine INSERT INTO things (tid, description, owner) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO things (tid, description, owner) VALUES (?, ?, ?)

2024-04-09 11:07:22,977 INFO sqlalchemy.engine.Engine [generated in 0.00349s] [(1, 'car', 23439), (2, 'laptop', 23439), (3, 'book', 23430), (4, 'bike', 23995), (15, 'phone', 23412), (6, 'pen', 23412), (7, 'charger', 23412), (8, 'ac', 23412)]

INFO:sqlalchemy.engine.Engine:[generated in 0.00349s] [(1, 'car', 23439), (2, 'laptop', 23439), (3, 'book', 23430), (4, 'bike', 23995), (15, 'phone', 23412), (6, 'pen', 23412), (7, 'charger', 23412), (8, 'ac', 23412)]

2024-04-09 11:07:22,981 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [66]:
results = session.query(Person).all()
results # list of python objects

2024-04-09 11:07:23,006 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-04-09 11:07:23,011 INFO sqlalchemy.engine.Engine SELECT people.ssn AS people_ssn, people.firstname AS people_firstname, people.lastname AS people_lastname, people.gender AS people_gender, people.age AS people_age
FROM people

INFO:sqlalchemy.engine.Engine:SELECT people.ssn AS people_ssn, people.firstname AS people_firstname, people.lastname AS people_lastname, people.gender AS people_gender, people.age AS people_age
FROM people

2024-04-09 11:07:23,013 INFO sqlalchemy.engine.Engine [generated in 0.00274s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00274s] ()

[(12313) Mike Smith (m 35),
 (23412) snig rach (f 25),
 (23430) bob blue (m 41),
 (23439) anna blue (f 40),
 (23485) tom jerry (m 30),
 (23995) mike tyson (m 60)]

In [67]:
last_name_results = session.query(Person).filter(Person.lastname == 'blue').all()
last_name_results

2024-04-09 11:07:23,030 INFO sqlalchemy.engine.Engine SELECT people.ssn AS people_ssn, people.firstname AS people_firstname, people.lastname AS people_lastname, people.gender AS people_gender, people.age AS people_age
FROM people
WHERE people.lastname = ?

INFO:sqlalchemy.engine.Engine:SELECT people.ssn AS people_ssn, people.firstname AS people_firstname, people.lastname AS people_lastname, people.gender AS people_gender, people.age AS people_age
FROM people
WHERE people.lastname = ?

2024-04-09 11:07:23,039 INFO sqlalchemy.engine.Engine [generated in 0.00857s] ('blue',)

INFO:sqlalchemy.engine.Engine:[generated in 0.00857s] ('blue',)

[(23430) bob blue (m 41), (23439) anna blue (f 40)]

In [68]:
# query a bit more complicated

results = session.query(Thing, Person).filter(Thing.owner == Person.ssn).filter(Person.firstname == 'snig').all()
results

2024-04-09 11:07:23,054 INFO sqlalchemy.engine.Engine SELECT things.tid AS things_tid, things.description AS things_description, things.owner AS things_owner, people.ssn AS people_ssn, people.firstname AS people_firstname, people.lastname AS people_lastname, people.gender AS people_gender, people.age AS people_age
FROM things, people
WHERE things.owner = people.ssn AND people.firstname = ?

INFO:sqlalchemy.engine.Engine:SELECT things.tid AS things_tid, things.description AS things_description, things.owner AS things_owner, people.ssn AS people_ssn, people.firstname AS people_firstname, people.lastname AS people_lastname, people.gender AS people_gender, people.age AS people_age
FROM things, people
WHERE things.owner = people.ssn AND people.firstname = ?

2024-04-09 11:07:23,064 INFO sqlalchemy.engine.Engine [generated in 0.01054s] ('snig',)

INFO:sqlalchemy.engine.Engine:[generated in 0.01054s] ('snig',)

[((6) pen owned by 23412, (23412) snig rach (f 25)),
 ((7) charger owned by 23412, (23412) snig rach (f 25)),
 ((8) ac owned by 23412, (23412) snig rach (f 25)),
 ((15) phone owned by 23412, (23412) snig rach (f 25))]